html, body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    background:#111;
    font-size: 0;
}

body {
    background-image: url("../images/background_tiles.svg");
    background-size: contain;
}

body.scrollLocked {
    overflow: hidden;
}

div#controlPrototypeContainer {
    display:none;
}