div.control.knob div.wheel, div.control.knob div.labelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.control.knob div.wheel {
    margin-top:5%;
    height:75%;
    width:75%;
    margin-left:12.5%;
    border-radius: 50%;
    cursor:move;
    border:3px solid #222;
    transition: border-color 0.2s;
}

div.control.knob div.wheel.unclicked {
    border-color: #222 !important;
    transition: border-color 0.2s;
}

div.control.knob div.wheel.unclicked div.rotatingLayer div.background {
    opacity:0.2;
    transition: opacity 0.2s;
}

div.control.knob.loading div.wheel.unclicked {
    border-color: transparent !important;
    transition: border-color 0.2s;
}

div.control.knob img.loading{
    position:absolute;
    height:96%;
    display: none;
}

div.control.knob div.value{
    position:absolute;
    color:#FFF;
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
}

div.control.knob div.wheel div.rotatingLayer {
    width:90%;
    height:90%;
    text-align: center;
    rotate:0deg;
}

div.control.knob div.wheel div.rotatingLayer div.background {
    position:absolute;
    width:100%;
    height:100%;
}

div.control.knob div.wheel div.rotatingLayer.fixed div.background {
    background-image: url("../../images/knob_fixed.svg");
}

div.control.knob div.wheel div.rotatingLayer.infinite div.background {
    background-image: url("../../images/knob_infinite.svg");
}

div.control.knob div.wheel div.rotatingLayer div.dot {
    width: 16%;
    height: 16%;
    border-radius: 50%;
    background: #222;
    display:inline-block;
    /* transition: opacity 0.2s; */
}

/* div.control.knob.loading div.wheel div.dot{
    opacity: 0.2;
    transition: opacity 0.2s;
} */

div.control.knob div.wheel div.rotatingLayer.infinite div.dot{
    display: none;
}


div.control.knob div.labelContainer {
    height:20%;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

div.control.knob.loading div.labelContainer span {
    opacity:0.2;
}